* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    
}
#bg {
  /*background-image: url("skye-hills.jpg");
  background-size: auto;*/
  background: black;
}
  .grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }
  .heading {
    size: 90px;
    color: hsl(166, 96%, 50%);
    grid-column: span 3;
    text-align: right;
    margin: 1.5rem 0 1.5rem 0;
  }
  .input-box {
    grid-column: span 3;
  }
  .todo-input {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-indent: 18px;
    background: hsla(175, 9%, 50%, 0.4);
    border-radius: 0px 25px 0px 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
  }
  .todo-items {
    margin: 5px 0 5px 0; 
    width: 100%;
  }
  .todo-item {
    color: white;
    border: 1px solid hsl(166, 96%, 50%);
    padding: 10px;
    margin: 5px 0 5px 0;
    text-indent: 10px;
    border-radius: 0 0 0 25px;
    font-size: 15px;
  }
  .done-items {
    margin: 5px 0 5px 0;
    width: 100%;
  }
  .done-item {
    color: black;
    border: 1px solid hsl(166, 96%, 50%);
    padding: 10px;
    margin: 5px 0 5px 0;
    background-color: hsl(166, 96%, 50%);
    font-size: 15px;
    display: block;
    width: 100%;
    max-width: 64px;
  }
  .not-done-items {
    margin: 5px 0 5px 0;
    width: 100%;
  }
  .not-done-item {
    color: black;
    border: 1px solid hsl(166, 96%, 50%);
    padding: 10px;
    margin: 5px 0 5px 0;
    background-color: hsl(166, 96%, 50%);
    border-radius: 0 25px 0px 0;
    font-size: 15px;
    display: block;
    width: 100%;
    max-width: 64px;
  }
  