* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    }
#bg {
  background: white;
}
h1 {
  letter-spacing: 8px;
}
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .heading {
    size: 90px;
    color: hsl(166, 96%, 50%);
    grid-column: 3/9;
    text-align: right;
    margin: 1em 0 1em 0;
  }
  #input-box {
    grid-column: 3/8;
    grid-row: 2/3;
  }
  #btn {
    grid-column: 8/9;
    grid-row:2/3;
    background: black;
    box-shadow: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 7px;
    border: 1px hsl(166, 96%, 50%) solid;
    max-width: 40px;
    border-radius: 400px;
  }
  #btn:hover {
    background: hsl(166, 96%, 50%);
  }
  #todo-input {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-indent: 18px;
    background: hsla(175, 9%, 50%, 0.4);
    border-radius: 0px 25px 0px 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
  }
  .todo-items {
    grid-column: 3/7;
    margin: 5px 0 5px 0; 
    width: 100%;
  }
  .todo-item {
    color: white;
    border: 1px solid hsl(166, 96%, 50%);
    padding: 10px;
    margin: 5px 0 5px 0;
    text-indent: 10px;
    border-radius: 0 0 0 25px;
    font-size: 15px;
  }
  .done-items {
    margin: 5px 0 5px 0;
    width: 100%;
  }
  .done-item {
    color: black;
    border: 1px solid hsl(166, 96%, 50%);
    padding: 10px;
    margin: 5px 0 5px 0;
    background-color: hsl(166, 96%, 50%);
    font-size: 15px;
    display: block;
    width: 100%;
    max-width: 0.5fr;
  }
  .done-item:hover {
    background-color: hsl(166, 96%, 45%);
  }
  .not-done-items {
    margin: 5px 0 5px 0;
    width: 100%;
  }
  .not-done-item {
    color: black;
    border: 1px solid hsl(166, 96%, 50%);
    padding: 10px;
    margin: 5px 0 5px 0;
    background-color: hsl(166, 96%, 50%);
    border-radius: 0 25px 0px 0;
    font-size: 15px;
    display: block;
    width: 100%;
    max-width: 0.5fr;
  }
  .not-done-item:hover {
    background-color: hsl(166, 96%, 45%);
  }